.header .logo {
  text-align: center;
}
.header .logo img {
  width: 20%;
  margin: 20px;
}
.header .nav {
  background-color: black;
}
.header .nav a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  padding: 10px 20px;
  display: inline-block;
}
.header .nav a:hover {
  background-color: #d3d3d3;
}
.header .nav a:nth-child(1) {
  margin-left: 50px;
}
